html { 
    background: url("https://scontent-syd1-1.xx.fbcdn.net/v/t1.0-9/13124431_1144450862273976_757612140957218808_n.jpg?oh=b7ba05d5e2f43331259b2af3f975a7fe&oe=581DB1E7") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: white;
    background-color: transparent;
}

h1#app-name {
    font-size:84px;
}

button#refreshbtn {
    display:none;
}

img#selected-img{
    width:150px;
    height:150px;
    padding:20px;
    display:none;
    margin: 0 auto;
}

h2#page-header {
    padding-top:20px;
    padding-bottom:20px;
}

body #page-container {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-wrapper {
    padding: 20px 0;
}

input#my-file-selector {
    display:none;
}
#musicplayer{
    padding:20px;
    display:none;
}

h4#track-name {
    display:none;
}